.navbar {
    font-size: 1.2rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;

    & .container {
        display: grid;
        @include grid-columns(2);
    }

    & .logo {
        font-size: 2rem;
    }

    & .nav {
        justify-self: right;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & a {
        padding: 0 1rem;

        &:hover {
            color: #888;
        }
    }

}




